<h1><%=@shelter.name%>- Run by <%=@shelter.admin.name%></h1>
<h3><%=@shelter.address%></h3>
<h3><%=@shelter.phone_number%></h3>
<h3><%= link_to "Click here to view the Pets available for adoption", shelter_pets_path(@shelter.id) %></h3>

<% if current_admin == @shelter.admin%>
<h1> Manage your Shelter </h1>
</ul>
<h4><li><%= link_to "Create a new Pet", new_shelter_pet_path(@shelter) %></li></h4>
<h4><li><%= link_to "View all Pet Applications", applications_path %></li></h4>
<h4><li><%= link_to "Edit your Shelter", edit_shelter_path(@shelter) %></li></h4>
</ul>
<% end %>

