<h1><%=@shelter.name%>- Run by <%=@shelter.admin.name%></h1>
<h5><%=@shelter.address%></h5>
<h5><%=@shelter.phone_number%></h5>
<h5><%= link_to "Click here to view the Pets available for adoption", shelter_pets_path(@shelter.id) %> <br> <br></h5>

<% if current_admin == @shelter.admin%>
<h3> Manage your Shelter </h3>
</ul>
<h5><li><%= link_to "Create a new Pet", new_shelter_pet_path(@shelter) %></li></h5>
<h5><li><%= link_to "Edit your Shelter", edit_shelter_path(@shelter) %></li></h5>
<h5><%= button_to "Delete this Shelter", shelter_path(@shelter), method: :delete %></h5>
</ul>


<% end %>

