<h1> Application for <%= @app.pet.name %></h1>
<p> Applicant: <%= @app.user.name%><br>
    Email: <%= @app.user.email%><br>
    Vet: <%= @app.vet%><br>
    Submitted: <%= app_created @app %><p>

<%= button_to "Delete this Application", application_path(@app), method: :delete %>