<div class="indexPets">
<ul>
<% @pets.each do |pet|%>
    <li><%= link_to image_tag(pet.image_url), pet_path(pet)%> <br>
    Name: <%= pet.name %> <br>
    Age: <%= pet.age %> <br>
    Breed: <%= pet.breed %> <br>
    Shelter: <%= pet.shelter.name %>
    </li>
    <br>
<% end %>
</ul>
</div>