<%= render partial: 'layouts/errors', locals: {object: @pet} %>

<h1> List a new pet at <%= @shelter.name %></h1>
<%= form_for(@pet) do |f| %>
    <label> Name </label>
    <%= f.text_field :name %> <br><br>
    <label> Age </label>
    <%= f.number_field :age %> <br><br>
    <label> Type of Animal</label>
    <%= f.text_field :animal_type %> <br><br>
    <label> Breed</label>
    <%= f.text_field :breed%> <br><br>
    <label>Upload an image</label>
    <%= f.text_field :image_url%> <br><br>
    <%= f.hidden_field :shelter_id %>
    <%= f.submit %>
<%end%>