<!DOCTYPE html>
<html>
  <head>
    <title>FindingFurever</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to "Shelters", shelters_path %> | 
        <%= link_to "All Pets", pets_path %> |
        <%= link_to "Submit an Application", new_application_path %>
      </nav>
    </header>
    <div class='container'>
    <%= yield %>
    </div>
    <footer>
      <%= link_to "Logout", logout_path, method: :delete%>
    </footer>
  </body>
</html>
